{
  "FetcherFunction": {
    "ITEMS_TABLE": "items-table"
  },
  "ApiGetItemsFunction": {
    "ITEMS_TABLE": "items-table",
    "SESSIONS_TABLE": "sessions-table"
  },
  "ApiMarkAsReadedFunction": {
    "SESSIONS_TABLE": "sessions-table"
  }
}